<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TimbradoSoap11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="TimbradoSoap11Binding1" />
                <binding name="CFDiSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CFDiSoapBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TimbradoSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpsSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="TimbradoSoap11Binding"
                contract="ServiceReference1.TimbradoPortType" name="TimbradoHttpsSoap11Endpoint" />
            <endpoint address="https://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpsSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="TimbradoSoap12Binding"
                contract="ServiceReference1.TimbradoPortType" name="TimbradoHttpsSoap12Endpoint" />
            <endpoint address="https://cfdiws.sedeb2b.com/EdiwinWS/services/CFDi"
                binding="basicHttpBinding" bindingConfiguration="CFDiSoapBinding"
                contract="Edicom.CFDi" name="CFDi" />
        </client>
    </system.serviceModel>
</configuration>